<div class="view-employee">
  <h3>View-Employee</h3>
  <button class="edit" (click)="editemployee(employeeid)">Edit</button>
</div>

<hr />
<!-- ******************************************************************** -->

<div class="container-view-employee">
  <fa-icon [icon]="avtar" class="fa-10x avtar-add"></fa-icon> <br />

  <div class="personal-details">
    <h5 class="h5">Personal details</h5>
    <!-- h5 design is _add.scss -->

    <label for="name">Name :</label>
    {{ employee?.name }} <br /><br />

    <label for="birthdate"> Birth-Date : </label>
    {{ employee?.birthDate }} <br /><br />

    <label for="gender"> Gender : </label>
    {{ employee?.gender }} <br /><br />

    <label for="city"> City : </label>
    {{ employee?.city }} <br /><br />

    <label for="email"> Email : </label>
    {{ employee?.email }} <br /><br />

    <label for="phone"> Phone : </label>
    {{ employee?.phone }}
  </div>

  <div class="work-details">
    <h5 class="h5">Work details</h5>

    <label for="job title">Job title : </label> {{ employee?.jobTitle }}
    <br /><br />

    <label for="Employment-type"> Employment Type : </label>
    {{ employee?.employmenttype }} <br /><br />

    <label for="joining-date">joining-Date : </label>
    {{ employee?.joiningDate }} <br /><br />

    <label for="Contract expiry">Contract Expiry : </label>
    {{ employee?.contractExpiry }} <br /><br />

    <label for="doc">Document : </label> {{ employee?.documents }} <br /><br />

    <label for="salary"> salary : </label> {{ employee?.salary }}
  </div>
</div>
