<div>
  <form [formGroup]="editform">
    <div class="edit-employee">
      <h3>Edit Employee</h3>
      <button class="delete" (click)="deleteemployee(employeeid)">
        Delete
      </button>
      <button class="save" type="submit" (click)="onsubmit(employeeid)">
        Save
      </button>
    </div>

    <hr />
    <!-- ******************************************************************** -->

    <div class="container-edit_employee">
      <fa-icon [icon]="avtar" class="fa-10x avtar-add"></fa-icon> <br />

      <!-- personal-details -->
      <div class="personal-details">
        <h5>Personal details</h5>

        <label for="name">Name</label>
        <input type="text" name="name" formControlName="name" />

        <label for="birthdate"> Birth-Date </label>
        <input type="date" name="birthdate" formControlName="birthDate" />
        <br />

        <label for="gender"> Gender </label>
        <select id="gender" name="gender" formControlName="gender">
          <option value="">select</option>
          <option value="male">male</option>
          <option value="female">female</option>
          <option value="other">other</option>
        </select>

        <label for="city"> City </label>
        <input type="city" name="city" formControlName="city" />
        <br />

        <label for="email"> Email </label>
        <input type="email" name="email" formControlName="email" />

        <label for="phone"> Phone </label>
        <input type="tel" name="phone" formControlName="phone" />
        <br />
      </div>

      <!-- work details -->
      <div class="work-details">
        <h5>Work details</h5>

        <label for="job title">Job title</label>
        <input type="text" name="Jobtitle" formControlName="jobTitle" />

        <label for="Employment-type">Employment Type</label>
        <input
          type="text"
          name="Employment-type"
          formControlName="employmenttype"
        />
        <br />

        <label for="joining-date">joining-Date</label>
        <input type="date" name="joining-Date" formControlName="joiningDate" />

        <label for="Contract expiry">Contract Expiry</label>
        <input
          type="date"
          name="contract-expiry"
          formControlName="contractExpiry"
        />
        <br />

        <label for="doc">Document</label>
        <input type="text" name="doc" multiple formControlName="documents" />

        <label for="salary"> salary </label>
        <input type="amount" name="salary" formControlName="salary" />
      </div>
    </div>
  </form>
</div>
