<div class="add-employee">
  <h3>Add-Employee</h3>
  <button class="cancel" type="reset">Cancel</button>
  <button class="add-new" type="submit" (click)="addEmployee(data)">Add</button>
</div>

<hr />
<!-- ******************************************************************** -->

<div class="container-add_employee">
  <form>
    <fa-icon [icon]="avtar" class="fa-10x avtar-add"></fa-icon> <br />

    <!-- personal-details -->
    <div class="personal-details">
      <h5>Personal details</h5>

      <label for="name">Name</label>
      <input
        type="text"
        name="name"
        [(ngModel)]="data.name"
        placeholder="Name"
      />

      <label for="birthdate"> Birth-Date </label>
      <input
        type="date"
        name="birthDate"
        [(ngModel)]="data.birthDate"
        placeholder="Birth-Date"
      />
      <br />

      <label for="gender"> Gender </label>
      <select id="gender" name="gender" [(ngModel)]="data.gender">
        <option value="">select</option>
        <option value="male">male</option>
        <option value="female">female</option>
        <option value="other">other</option>
      </select>

      <label for="city"> City </label>
      <input
        type="city"
        name="city"
        [(ngModel)]="data.city"
        placeholder="city"
      />
      <br />

      <label for="email"> Email </label>
      <input
        type="email"
        name="email"
        [(ngModel)]="data.email"
        placeholder="abc@email.com"
      />

      <label for="phone"> Phone </label>
      <input
        type="tel"
        name="phone"
        [(ngModel)]="data.phone"
        placeholder="Phone number"
      />
      <br />
    </div>

    <!-- work details -->
    <div class="work-details">
      <h5>Work details</h5>

      <label for="job title">Job title</label>
      <input
        type="text"
        name="jobTitle"
        [(ngModel)]="data.jobTitle"
        placeholder="Job title"
      />

      <label for="Employment-type">Employment Type</label>
      <input
        type="text"
        name="employmenttype"
        [(ngModel)]="data.employmenttype"
        placeholder="Employment-type"
      />
      <br />

      <label for="joining-date">joining-Date</label>
      <input
        type="date"
        name="joiningDate"
        [(ngModel)]="data.joiningDate"
        placeholder="Date"
      />

      <label for="Contract expiry">Contract Expiry</label>
      <input
        type="date"
        name="contractExpiry"
        [(ngModel)]="data.contractExpiry"
        placeholder="date"
      />
      <br />

      <label for="doc">Document</label>
      <input
        type="text"
        name="documents"
        [(ngModel)]="data.documents"
        multiple
      />

      <label for="salary"> salary </label>
      <input
        type="amount"
        name="salary"
        [(ngModel)]="data.salary"
        placeholder="salary"
      />
    </div>
  </form>
  <!-- {{ data|json}} -->
</div>
