//variables
$menu-bg:linear-gradient(to bottom, #047575 65%, rgb(174, 233, 233) 100%);


//colors
$primary-color:#194C4C;
$secondary-color:rgb(147, 192, 192);
$white:white;
$whitesmoke:whitesmoke;

//box-shadows
$hover: 2px 2px 5px 5px rgb(224, 222, 222);
$search:0px 1px 2px 0px grey;
$content-box:1px 1px 5px 1px gray;